.wrapper {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 20px;
}

.margin {
    margin: 10px;
}

.btn {
    align-self: center;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: #4CAF50; 
    border: none;
    color: white;
}

.btn-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn:hover {
    background-color: #0b3a0d;
}

.btn:active {
    transform: translate(0em, 0.1em);
}