.wrapper {
    max-width: 800px;
    margin: auto;
    border: 1px solid #3475ac;
}

.container__head {
    height: 20px;
    background-color: #3475ac;
}

.container__messages {
    max-width: 100%;
    height: 40vh;
}

.container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gray;
}

.container__button {
    width: 90%;
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #eda143;
    color: white;
}

.container__textarea {
    height: 80px;
    width: 95%;
    margin: 15px;

    display: flex;
    justify-content: center;
}

.textarea {
    height: 80px;
    width: 100%;
    border: 1px solid gray;
}