img {
    width: 200px;
    height: 250px;
}

#gif {
    width: 300px;
    height: 200px;
}

#video {
    width: 400px;
    height: 400px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    margin-left: 5px;
    justify-content: space-between;
}

.article {
    flex: 0 0 66%;
    max-width: 66%;
}

.aside {
    flex: 0 0 34%;
    max-width: 34%;
}

.section {
    flex: 1 0 0;
    min-width: 200px;
}

.footer-section {
    flex: 1 0 0;
    min-width: 200px;
}