.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-weight: bolder;
    font-size: large;
    background-color: #b1adad;
}

.maincontainer {
    display: flex;
    height: 60vh;

}

.main {
    align-items: flex-end;
    text-align: center;
    width: 60%;
    font-weight: bolder;
    background-color: #e7eba0;
}

.aside {
    text-align: center;
    width: 40%;
    font-weight: bolder;
    background-color: #90e296;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.section1,
.section2 {
    width: 47%;
}

.section3 {
    width: 100%;
}

.section1,
.section2,
.section3 {
    margin: 5px;
    background-color: #f8c668;

}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    padding: 1%;
    font-weight: bolder;
    background-color: #b1adad;
}

.footersection1,
.footersection2,
.footersection3,
.footersection4 {
    padding: 10px;
    background-color: #ffffff;
}