
.main {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.main__title {
    margin-top: 60px;
    font-size: 70px;
    text-align: center;
    color: #001309;
}

.main__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__card {
    max-width: 40%;
    margin: 20px;
    padding: 2%;
    background-color: #d6f6e0;
    overflow: hidden;
}

.card__subtitle {
    font-size: 16px;
    font-weight: bolder;
}

.card__title {
    margin-bottom: 25px;
    font-size: 19px;
    font-weight: bolder;
    color: #001309;;
}